@use "../../assets/consts";

.workersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    padding: 2rem;
    white-space: nowrap;

    .table {
        display: table;

        tr:not(.tableHeader) {
            &:hover {
                background-color: var(--table-row-hover);
            }
        }

        th {
            background-color: var(--table-header);
            color: var(--secondary-text-color);
        }
        td {
            color: var(--primary-text-color);
            background-color: inherit;
            height: 5rem;
            cursor: pointer;
        }
        // width:100%;
        // overflow:auto;
        @media screen and (max-width: consts.$mobile-width) {
            // display: block;
            // // width: var(--width);
            // overflow: auto auto;
            td {
                // text-align: center;
                vertical-align: middle;
            }
        }
    }
}