@use "../../assets/consts";

.workersContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    padding: 2rem;
    white-space: nowrap;

    .table {
        display: table;

        tr:not(.tableHeader) {
            &:hover {
                background-color: var(--table-row-hover);
            }
        }

        th {
            background-color: var(--table-header);
            color: var(--secondary-text-color);
        }

        td {
            color: var(--primary-text-color);
            background-color: inherit;
            height: 5rem;
            vertical-align: middle;
            cursor: pointer;

            &:last-child {
                text-align: center;
            }
        }

        .btn {
            border: none;
            background-color: var(--background-secondary);
            transition: all 0.2s ease-in-out;
            &:focus {
                background-color: var(--background-secondary);
                border: none;
            }
            &:hover {
                scale: 1.05;
            }
        }

        // width:100%;
        // // overflow:auto;
        // @media screen and (max-width: consts.$mobile-width) {

        //     // display: block;
        //     // // width: var(--width);
        //     // overflow: auto auto;
        //     td {
        //         // text-align: center;

        //     }
        // }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 1rem;
        width: 100%;
        height: 100%;


        .addButton {
            display: inline-block;
            color: var(--background-secondary);
            font-size: 4rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            padding: 0 1rem 1rem 1rem;

            .addButtonIcon {
                display: block;

            }

            &:hover {
                scale: 1.1;
            }
        }
    }

    @media screen and (max-width: consts.$mobile-width) {
        padding: 0;

        .table {
            th {
                text-align: center;
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
            }
            td {
                text-align: center;
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

.editWorkerModalContainer {
    .validationError {
        color: var(--error);
        font-size: 1.1rem;
        line-height: 0.4;
    }
}