$mobile-width: 720px;

:root {
    --navbar-width: 15rem;
    --width: calc(100% - var(--navbar-width));
    --black-primary: rgb(28, 27, 27);
    --black-secondary: #242222;
    --black-hover: #242424;
    --white-primary: #fff;
    --background-primary: #fff;
    --main-text-color: #000;
    --loader: #646cff;
    --disabled-primary: #7a7a7a;
    --red: #ff0000;
}

html[data-theme="light"] {
    --black-primary: rgb(28, 27, 27);
    --black-secondary: #242222;
    --black-hover: #242424;
    --white-primary: #fff;
    --background-primary: #fff;
    --main-text-color: #000;
}

//dark theme
html[data-theme="dark"] {
    --black-primary: rgb(28, 27, 27);
    --black-secondary: #424242;
    --black-hover: #242424;
    --white-primary: #fff;
    --background-primary: #494949;
    --main-text-color: #fff;
}
