$mobile-width: 720px;

:root {
    --navbar-width: 15rem;
    --width: calc(100% - var(--navbar-width));
    --background-primary: #fff;
    --background-secondary: #c99789;
    --mobile-menu-color: rgba(224, 168, 153, 0.9);
    ;
    --navbar-hover: #242424;

    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --table-header: rgba(224, 168, 153, 0.7);
    --table-row-hover: #ffe9dc;

    --loader: #646cff;
    --disabled-primary: #7a7a7a;
    --red: #ff0000;
}

html[data-theme="light"] {
    --background-primary: #fff;
    --background-secondary: #c99789;
    --mobile-menu-color: rgba(224, 168, 153, 0.9);
    --navbar-hover: #242424;

    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --table-header: rgba(224, 168, 153, 0.7);
    --table-row-hover: #ffe9dc;
}

//dark theme
html[data-theme="dark"] {
    --background-primary: #777777;
    --background-secondary: #181717;
    --mobile-menu-color: rgba(66, 66, 66, 0.9);
    --navbar-hover: #242424;

    --primary-text-color: #fff;
    --secondary-text-color: #fff;
    --table-header: rgba(66, 66, 66, 0.7);
    --table-row-hover: #999999;
}