@use "./consts";

.modalContainer {
    .modal-open {
        padding-right: 0px !important;
    }

    .modal-content {
        background: var(--background-secondary);
        color: #fff;



        .modal-header {
            background-size: 100% auto;
            height: 3rem;
        }

        .modal-body {
            // height: 4rem;
            font-size: 1.2rem;
            margin: 0 auto 0 auto;
            text-align: center;
        }

        .btn {

            background-color: transparent;
            font-size: 1.1rem;
            transition: all 0.2s ease-in-out;
            border: 0.1rem solid var(--secondary-text-color);
            &:focus {
                background-color: transparent;
                border: 0.1rem solid var(--secondary-text-color);
            }
            &:hover {
                scale: 1.05;
            }
        }

        .btn-close {
            padding: 0.2rem;
            background: none;
            background-color: var(--secondary-text-color);
            -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
            mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        }

        // .btn-close {
        //     background-color: white
        // }

        .modal-footer {
            border: 0;
            // margin: 0 0 0 25%;
        }

        .modal-button:hover {
            transform: scale(105%);
        }

        // @media screen and (max-width: consts.$mobile-width) {
        //     justify-content: center;
        //     align-items: center;
        // }
    }
}