@use "./assets/consts";

* {
  box-sizing: border-box;
  font-family: 'Urbane';
  margin: 0;
}

.container-fluid {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  overflow: hidden;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.main-container {
  background-color: var(--background-primary);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: 15rem 1fr;
  /* 15rem for the navbar, 1fr for the rest of the content */
  grid-template-rows: 4rem 1fr;
  /* 5rem for the header, 1fr for the rest of the content */
  // margin-left: var(--navbar-width);
  height: 100vh;

  .app-container {
    grid-template-columns: 15rem 1fr; /* 15rem for the navbar, 1fr for the rest of the content */
    grid-template-rows: 5rem 1fr; /* 5rem for header, 1fr for content */
  }

  .navbar {
    grid-column: 1; /* Occupy the first column */
    grid-row: 1 / span 2; /* Span across both rows in the first column */
  }

  .pageContainer {
    grid-column: 2; /* Occupy the second column */
    grid-row: 2; /* Occupy the second row */
  }

  @media screen and (max-width: consts.$mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 4rem 1fr;

    .header {
      grid-row: 1; /* Occupy the first row */
    }
    
    .navbar {
      grid-row: 2; /* Occupy the second row */
    }
  
    .pageContainer {
      grid-row: 3; /* Occupy the third row */
      grid-column: 1; /* Occupy the first column */
    }
  }
}

button {
  all: unset;
  cursor: pointer;
}