@use "../../assets/consts";

.headerContainer {
    background: var(--background-secondary);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    // position: sticky;
    position: fixed;
    top: 0;
    right: 0;
    // top: 1rem;
    width: var(--width);
    margin: 0 auto 0 auto;
    z-index: 998;

    @media screen and (max-width: consts.$mobile-width) {
        margin-top: 4rem;
        width: 100%;
        // background: none;
    }
}